// Bulma Overrides

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title{
  font-family: $family-primary;
  color: $grey-dark;
}

// blockquote{
//   margin-left: 2rem;
//   border-left: .5rem solid $grey-dark;
//   padding-left: 1.5rem;
//   font-size: 2rem;
// }
p{
  margin-bottom: 1.5rem;
}

.navbar-brand svg{
  width: 6rem;
  fill: white;

}

.navbar-item{
  font-weight: bold;
}
.item-divider{
  color: lightgray;
  position: relative;
  top: .95rem;
}
.hero.is-light{ 
  color: $grey-dark;
  .title, .subtitle{
    color: $grey-dark;
  }
}
h1{
  .bar {
    width: 4rem;
    border: 0;
    border-bottom: 8px solid; 
  }
}
blockquote{
  color: $grey-light;
  background-image: url(../images/blockquote.svg), url(../images/blockquote-right.svg);
  background-size: 3rem, 6rem;
  background-repeat: no-repeat;
  background-position: left 3rem top 5.8rem, right .7rem top 7rem;
  strong{
    color: whitesmoke;
    font-weight: bold;
  }
}
.delete, .modal-close{
  top: -14px;
}
.message-header p{
  margin-bottom: .5rem;
}
.card{
  box-shadow: 0px 2px 60px 0px rgba(160,179,198,0.47);
}
.card-content .image{
 clip-path: circle(49%); 
}
.button{
  font-weight: bold;
}